.body {
    text-align: center;
    justify-content: center;
    width: 50%;
    margin: auto;
}

.leftColumn {
    padding: 15px;
    width: 200px;
    float: left;
}

.rightColumn {
    padding: 15px;
    text-align: left;
    
}