.bookContainer {
    display: flex;
}

.leftCol {
    margin: 1rem;
    text-align: center;
  }

.centerCol {
    width: 50%;
}

.centerCol ul {
    list-style: none;
    
    text-align: left;
}

.centerCol ul p {
    text-align: left;
}
  
.rightCol {
  
}

.bookInfo ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}