.container {
  margin: 1rem;
  text-align: center;
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

h1, h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}

